body,html{
	margin: 0;
	padding: 0;
}
.navbar-inverse .navbar-brand {
    color: #38b0e3;
}
.navbar-inverse .navbar-brand:hover {
    color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: #38b0e3;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: white;
    background-color: #38b0e3;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: white;
    background-color: #38b0e3;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    background-color: #38b0e3;
}
.dropdown-menu { 
	margin-left: 10px; 
	display: none;
}
.dropdown.active { 
	display: block; 
}
#slider {
	width: 726px;
	
	.frame {
		width: 100%;
		height: 300px;
		overflow: hidden;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 726 * 6px;
		li {
			width: 726px;
			float: left;
		}
		img {
			width: 100%;
			height:285px;
		}
	}
}

#loginpop {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
#loginpop .overlay {
	width: 100%;
	height: 100%;
	background: #666;
	opacity: 0.5;
	position: absolute;
	display: none;
}
#loginpop .content {
	width: 320px;
	padding: 10px;
	background: #fff;
	margin: -1000px auto 0;
	z-index: 5;
	position: relative;
}
#regpop {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
#regpop .overlayreg {
	width: 100%;
	height: 100%;
	background: #666;
	opacity: 0.5;
	position: absolute;
	display: none;
}
#regpop .contentreg {
	padding: 10px;
	width: 500px;
	background: #fff;
	margin: -1000px auto 0;
	z-index: 5;
	position: relative;
}
#createpost {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
#createpost .overlaypost {
	width: 100%;
	height: 100%;
	background: #666;
	opacity: 0.5;
	position: absolute;
	display: none;
}
#createpost .contentpost {
	width: 320px;
	padding: 10px;
	background: #fff;
	margin: -1000px auto 0;
	z-index: 5;
	position: relative;
}
#editpost {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
#editpost .overlayedit {
	width: 100%;
	height: 100%;
	background: #666;
	opacity: 0.5;
	position: absolute;
	display: none;
}
#editpost .contentedit {
	width: 320px;
	padding: 10px;
	background: #fff;
	margin: -1000px auto 0;
	z-index: 5;
	position: relative;
}
.bar{
	background-color: white;border:none;
}
.cart{
	background: url('images/cart.png');
	background-size: 25px;
	background-repeat: no-repeat;
	margin-top: 15px;
}
.cart:hover{
	background:url("images/carthov.png");
	background-size: 25px;
	background-repeat: no-repeat;
}
.navbar-inverse .navbar-nav > .active > .cart, .navbar-inverse .navbar-nav > .active > .cart:focus, .navbar-inverse .navbar-nav > .active > .cart:hover {
    color: white;
    background-color: white;
}
#categorymenu,
#categorymenu ul,
#categorymenu li,
#categorymenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
  font-size: 17px;
  position: relative;
}
#categorymenu {
  width: 250px;
  border-bottom: 4px solid #ccc;
  border-radius: 3px;
}
#categorymenu > ul > li:first-child {
  background-color: #F2F2F2!important;
  border: 1px solid #45463d;
  border-radius: 3px 3px 0 0;
}
#categorymenu > ul > .first > a {
  padding: 7px 10px;
  color:#38b0e3;
  border: none;
  border-top: 1px solid #38b0e3;
  border-radius: 3px 3px 0 0;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-size: 1.2em;
}
#categorymenu > ul > .first > a:hover {
  color:white;
}
#categorymenu > ul > .first > a > span {
  padding: 0;
}
#categorymenu > ul > li {
  background-color: white!important;
  color: black!important;
}
#categorymenu > ul > li:hover {
  background: linear-gradient(#0078B0 0%, #38b0e3 100%);
}
#categorymenu > ul > li > a {
  font-size: 0.9em;
  display: block;
  color: black;
  border: 1px solid #0078B0;
  border-top: none;
}
#categorymenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  border-radius: 4px;
}
#categorymenu > ul > li > a:hover {
  text-decoration: none;
}
#categorymenu > ul > li.active {
  border-bottom: none;
}
#categorymenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#categorymenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#categorymenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: .8em;
}
#categorymenu ul ul a:hover {
  color: #009ee6;
}
.drp{
	background:url("images/drp.png") no-repeat;
	background-size: 15px;
	background-position: right 10px center;
}
.searchdiv{ 
	display: none;
	background-color: #EFFBF8;
	z-index: 1;
	width: 340px;
	left:470px;
	top: 42px;
	border-radius: 3px;
	position: absolute;
	div{
		padding:10px;
		a{
			display: inline-block;
		}
		.titl{
			display: inline-block;word-wrap: break-word;width: 140px;text-align: center;
		}
		.prc{
			display: inline-block;margin-top: 48px;float: right;
		}
	}
}
.posttitle{
	color:#333;
}
.posttitle:hover{
	text-decoration:none;
}
.iteminbasket{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}
.deletefrombasket{
	background:url('images/delete.png');
	background-repeat: no-repeat;
	background-size: 25px;
	padding: 25px;
	border:none;
	background-position: bottom 15px center;
}
.h2{
	margin-left:400px;
}
.comments{
	p{
		margin-left: 30px;
		font-size:16px;
		font-weight: bold;
	}
	a{
		margin-left: 45px;
	}
	div{
		width: 88%;
		margin-left: 40px;
		p{
			font-weight: normal;
			font-size: 14px;
		}
	}
}